.product:hover .desc h3 a, .product:focus .desc h3 a {
    color: #d1c286;
}

.product .desc .price {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.product .desc h3 a {
    color: #000;
}
.product .desc .price {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.about-content {
    margin-bottom: 7em;
}
.about-content img {
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 10px;
}
.about-content .desc {
    margin-bottom: 3em;
}

.product .desc h3 {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: bold;
    line-height: 24px;
}
.feature-center .desc {
    padding-left: 180px;
}
.about-content {
    margin-bottom: 7em;
}
.about-content img {
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 10px;
}
.about-content .desc {
    margin-bottom: 3em;
}

#fh5co-about {
    padding: 4em 0;
    clear: both;
}
.about-content .desc {
    margin-bottom: 3em;
}
.feature-center .desc {
    padding-left: 180px;
}

@media screen and (max-width: 768px) {

    #fh5co-about{
        padding: 3em 0;
    }
}
