.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    float: right;
    transform: translate(-700px, 20px);
    min-width: 100px;
}

#contact {
    background: #F9F9F9;
    padding: 25px;
    margin-top: 80px;
    width: 63em;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
    display: block;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    padding: 0;
    width: 100%;
}

input[type="text"],input[type="tel"],input[type="email"],input[type="password"],input[type="url"],input[type="file"],input[type="number"]{
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}


#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: steelblue;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #0056b3;

}

img{
    width: 200px;
    display: block;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 20px;

}
.file-logo{
    width: auto;
    border-radius: 3px;
    padding: 5px;
}