body {
    color: #797979;
    background: #f2f2f2;
    font-family: inherit;
    overflow: auto;
}

#sidebar {
    width: 250px;
    height: auto;
    position: absolute;
    background: #051922;
}
.sidebar-menu{
    margin-top: 230px;
}
ul.sidebar-menu {
    margin-top: 75px;
}

ul.sidebar-menu li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 25px 0 15px 10px;
    font-size: 15px;
    outline: none;
}

.header {
    min-height: 60px;
    padding: 0 15px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;

}

.black-bg {
    background: steelblue;
    margin: 0px;
    height: 10px;
}

a.logo {
    display: inline-block;
    font-size: 20px;
    color: #ffffff;
    float: left;
    margin-top: 15px;
    text-transform: uppercase;
    list-style-type: none;
}
.sidebar-menu{
    list-style-type: none;
}
.active:hover{
    color: #2F5D84;
}
.settings-sidebar:hover{
    color: #2F5D84;
}
.group-list{
    color: azure;
    transform: translate(0px, 10px);
    margin-top: -12px;
    list-style-type: none;
    display: none;

}
.title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    color: white;
    display: inline-block;
    width: auto;
}
.title:hover{
    color: darkblue;
}
.mt:hover .group-list{
    display: block;
}
footer{
    position: fixed;
    text-align: center;
    bottom: 0px;
    width: 100%;
    background-color: #051922;
    color: white;
    height: 36px;
}
.profile-pic{
    width: 35%;
    float: left;
}
.user-profile{
    width: 90%;
    background-color: #fff;
    z-index: 1000;
    position: inherit;
    border: 1px solid
    rgba(52,73,94,0.44);
    padding: 1px;
    border-radius: 50%;
    vertical-align: middle;
    margin-top: 70px;
    margin-left: 46px;
}
.profile-info{
    padding: 25px 10px 10px;
    width: 65%;
    float: left;
    margin-top: 50px;
    height: 125px;
    transform: translate(35px, 5px);

}
.message{
    font-size: 20px;
    line-height: 30px;
    color: #BAB8B8;
}
.user-name{
    font-size: 15px;
    color: #ECF0F1;
    font-weight: 300;
    margin-left: 10px;
}

